body {
    background-color: lightgray;
}

.mainblock {
    margin: 100px auto;
    width: 40%;
    height: auto;
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px
}

.modalblock {
    width: 40%;
    margin: 100px auto;
    text-align: center;
}